@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    font-family: 'Poppins';
    text-decoration: none;

}
html{
    font-size: 62.5%;
}

body {
    background-color: #0E0A08;
    height: 100vh;
   max-width: 2600px;
   margin: auto;
}
#body-index {
    overflow-y: hidden;
}
header {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background 0.2s;
}

header h1 {
    margin: 0;
    font-size: 2.2em;
    text-align: center;
    transition: 1s;
}
.hamburger {
    z-index: 11;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 3em;
    align-self: flex-end;
    font-weight: bold;
    line-height: 1;
    transition: transform 0.5s;
}
.hamburger:hover {
    cursor: pointer;
}
.rotate {
    transform: rotate(90deg);
}

.menu {
    position: absolute;
    z-index: 10;
    display: initial;
    width: 100%;
    height: 0;
    margin: 0;
    background: #0A090C;
    transform: translateY(-202px);
    transition: 0.8s;
}
.menu ul {
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    align-items: center;
    justify-content: space-evenly;
}
.menu li {
    text-align: center;
    width: 100%;
    display: inline;
    color: #FFFFFF;
}
.menu li a {
    padding: 0 auto;
    color: white;
}
.menu li:hover a {
    color: #8a6db9;
}
.menu li:hover {
    background-color: #241f2c;
    cursor: pointer;
    color: #8a6db9;
}
.main__index {
    height: calc(100% - 106px);
    display: grid;
    grid-template-rows: repeat(12, 1fr);
}
.main__index section {
    grid-row: 1/11;
}
#carouselExampleIndicators {
    width: 80%;
}
#carouselExampleIndicators .boton-flecha  {
    margin: auto;
    height: 40%;
}
.main__index .fotos__inicio article {
    position: relative;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__index .fotos__inicio article h2 {
    text-align: center;
    right: 0;
    left: 0;
    top: 0;
    z-index: 30;
    position: absolute;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    color: white;
    font-size: 2em;
}
.main__index .fotos__inicio article img {
    height: auto;
    width: 300px;
    border: 2px solid #FFFFFF;
    animation: subirBajar 5s infinite linear;
}

@keyframes subirBajar {
    0% {transform: translateY(0);}
    25% { transform:translateY(-2vh);}
    50% {transform: translateY(0);}
    75% {transform: translateY(2vh);}
}

footer{
    font-size: 2em;
    grid-row: 11/13;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__index .fotos__inicio .imagen2 {    
    display: none;
}
.main__index .fotos__inicio .imagen3 {    
    display: none;
}
@media screen and (min-width: 740px) {
    .main__index .fotos__inicio {
        display: flex;
        justify-content: space-around;
    }
    .main__index .fotos__inicio .imagen2 {    
        display: none;
    }
    .main__index .fotos__inicio .imagen3 {    
        display: initial;
    }
}
@media screen and (min-width: 1320px) {

    .main__index .fotos__inicio .imagen2 {    
        display: initial;
    }

}






.blanco {
    background-color: white;
}
.blancoTexto {
    color: white;
}

.margen {
    margin-top: 172px;
}

.negro {
    background-color: #0A090C;
}
.visible {
    height: 202px;
    transform: translateX(0px);
}

/*galeria*/
.main-gallery {
    display: inline;
}
.main-gallery .galery {
    padding: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-auto-rows: 200px;
    grid-gap: 30px;
}
.main-gallery .galery img {
    height: 100%;
    width: 100%;
}
.main-gallery .galery img:first-child {
    grid-column: span 3;
    grid-row: span 2;
}
.main-gallery .galery img:nth-child(2) {
    grid-row: span 2;
}
.main-gallery .galery img:nth-child(3) {
    grid-column: span 2;
    grid-row: span 2;
}
.main-gallery .galery img:nth-child(4) {
    grid-column: span 3;
    grid-row: span 3;
}
.main-gallery .galery img:nth-child(5) {
    grid-column: span 3;
    grid-row: span 2;
}
.main-gallery .galery img:nth-child(6) {
    grid-row: span 2;
}
.main-gallery .galery img:nth-child(7) {
    grid-row: span 2;
}
.main-gallery .galery img:nth-child(8) {
    grid-row: span 2;
}

.main-gallery .galery img:nth-child(9) {
    grid-column: span 2;
}
#footer__galery  {
   height: 138.5px;
}
@media screen and (max-width: 1650px) {
    .main-gallery .galery img:nth-child(2) {
        grid-column: span 2;
    }
    .main-gallery .galery img:nth-child(3) {
        grid-row: span 3;
    }
    .main-gallery .galery img:nth-child(9) {
        grid-row: span 2;
    }
    .main-gallery .galery img:nth-child(10) {
        grid-column: span 2;
        grid-row: span 2;
    }
}
@media screen and (max-width: 1530px) {
    .main-gallery .galery img:nth-child(1) {
        grid-column: span 4;
    }
    .main-gallery .galery img:nth-child(2) {
        grid-row: span 3;
    }
    .main-gallery .galery img:nth-child(4) {
        grid-column: span 4;
    }
    .main-gallery .galery img:nth-child(10) {
        grid-column: span 4;
        grid-row: span 2;
    }
}
@media screen and (max-width: 1200px) {
    .main-gallery .galery {
        grid-template-columns: repeat(3,1fr);
    }
    .main-gallery .galery img {
        grid-row: span 3 !important;
        grid-column: span 3 !important;
    }
}
@media screen and (max-width: 600px) {
    .main-gallery .galery img {
        grid-row: span 2 !important;
    }
}

/*galery boostrap */

#main-bs img {
    width: 100%;
    height: 300px;
}
#violeta {
    color: #5524a5;
}
